body {
  font-family: "Lucida Console", Courier, monospace;
}

table{
  border: 2px solid black;
  background-color: aliceblue;
  border-collapse: collapse;
}

th {
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
}
td {
  border: 2px solid black;
  padding: 10px;
  text-align:center
}

#remove_cell {
  width: 5%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
