
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

header {
    background-color: #04A96D;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

/* ------------------------------------ */

body {
    font-size: 16px;
    background-color: #f5f5f5;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
h3 {
    padding-left: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    padding: 1rem;
  background: white;
  border-bottom: 1px solid lightgray;
}

input {
    font-size: 1.6rem;
    line-height: 2.1rem;
    padding: 0.8rem 1rem;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}

select {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-top: 0.8rem;
    border: none;
    outline: none;
}

h3 {
    font-size: 2.3rem;
    margin-top: 0.8rem
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}
.end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: lightgrey;
    font-style: italic;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1rem;
    font-size: 1.6rem;
    border-bottom: 1px solid lightgray;
    padding: 0.2rem;
    color: #4d4d4d;
}

li.li span, p {
    font-size: 2rem;
}

.deleteit {
    visibility: hidden;
    box-shadow: none;
    border: none;
    background: transparent;
    color: rgb(204, 154, 154);
    font-size: 1.2rem;
    outline: none;
}

.li:hover > .deleteit {
    visibility: visible;
}

.li > div {
    flex-basis: 40%;
}
.para-1 {
    word-break: break-all;
    flex-basis: 40%;
}

.status {
    height: 2rem;
    width: 3rem;
    margin-left: 0rem;
    flex-basis: 10%;
}

.editInput {
    line-height: 2.1rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

button {
    box-shadow: none;
    border: none;
    background: transparent;
    color: rgb(187, 11, 128);
    font-size: 3rem;
    outline: none;
    cursor: pointer;
    padding: 0 1rem;
}

.items-text {
    font-size: 2rem;
    color: #04A96D;
    padding-right: 2rem;
}

.items-left {
    font-size: 2rem;
    color: #04A96D;
    padding-right: 0.4rem;
}

.deleteBtn {
    visibility: hidden;
    flex-basis: 10%;
}

.deleteBtn::after {
    display: block;
    content: '\e872';
    font-family: 'Material Icons';
    font-size: 3rem;
}

.ul > .li:hover .deleteBtn {
    visibility: visible;
}

.filters {
  min-width: 20vw;
}
#clearDoneList, #clearOpenList, #addTask {
    margin-top: 1rem;
    font-size: 2rem;
    color: #04A96D;
}
.start-done-list {
    margin-top: 4rem;
}

#addTask {
    border-radius: 12px;
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    text-align: center;
}
